.large-header {
   position: absolute;
   width: 100%;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 0;
}


@media only screen and (max-width: 768px) {
.large-header {
   position: absolute;
   width: 0%;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: -1;
}
}