@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,400italic,700italic&amp;subset=latin,cyrillic);
#* {box-sizing: border-box;}
body {margin: 0;}
.post {
  width: 60%;
  margin: 30px auto 0;
}
img {
  #width: 100%;
  max-width: 100%;
  height: auto;
}
.post-container {
  width: 100%;
  padding: 30px;
}
h8 {
  margin: 15px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 23px;
  #text-align: center;
  letter-spacing: 1px;
  color: #fff;
  #text-shadow: #000 1px 1px 1px;
}
h6 {
font-size:20px;
font-weight:700;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
color:#006;
text-align:right;
#text-transform:uppercase;
text-shadow:1px -1px 2px #fff;
margin: revert;
}
h7 {
font-size:18px;
font-weight:300;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
color:#0d1d2f;
#text-align:right;
#text-transform:uppercase;
text-shadow:1px -1px 2px #fff;
margin: revert;
}
h4 {
  margin: 15px 0;
  #font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D71920;
  #text-shadow: #000 1px 1px 1px;
}
h5 {
  margin: 15px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #006;
  #text-shadow: #000 1px 1px 1px;
}
h2 {
  margin: 15px 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 35px;
  text-align: center;
  letter-spacing: 1px;
  color: #006;
  #text-shadow: #000 1px 1px 1px;
}
@media all and (max-width: 700px) and (min-width: 0px){
h2 {
font-size: 20px;
}
h2 small{
font-size: 14px;
}
}
h3 {
  font-size: 25px;
  margin: 0;
  color: #006;
  font-family: 'TrixieWebPro-Light W07 Regular', serif;
  #font-style: italic;
  letter-spacing: 3.4px;
  text-align: center;
}
h3 a {
  color: #c2a77a;
}

.post-info {
  padding-top: 35px;
}

@font-face{
font-family: 'cambria';
src: url('../fonts/cambria.html');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Avenir-Light';
src: url('../fonts/Avenir-Light.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'FedraSansPro-Normal';
src: url('../fonts/FedraSansPro-Normal.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'MuseoSlab-300';
src: url('../fonts/MuseoSlab-300.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'ProximaNovaA-Light';
src: url('../fonts/ProximaNovaA-Light.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'TrixieWebPro-Light W07 Regular';
src: url('../fonts/TrixieWebPro-Light%20W07%20Regular.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'URW Clarendon W01 Medium';
src: url('../fonts/URW%20Clarendon%20W01%20Medium.ttf');
font-style: normal; 
font-weight: normal; 
}
