@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,400italic,700italic&subset=latin,cyrillic);
#* {box-sizing: border-box;}
.post {
  width: 60%;
  margin: 30px auto 0;
}
img {
  #width: 100%;
  #max-width: 100%;
  height: auto;
}
.post-container {
  width: 100%;
  padding: 30px;
}

h8 {
  margin: 15px 0;
  #font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 23px;
  #text-align: center;
  letter-spacing: 1px;
  color: #ff871d;
  font-weight: 700;
  text-transform: uppercase;
  #text-shadow: #000 1px 1px 1px;
}
h6 {
font-size:20px;
font-weight:700;
color:#006;
text-align:right;
#text-transform:uppercase;
text-shadow:1px -1px 2px #fff;
margin: revert;
}
h7 {
font-size:16px;
font-weight:300;
color:#c8c8c8;
#text-align:right;
#text-transform:uppercase;
#text-shadow:1px -1px 2px #000;
margin: revert;
}
h3 {
  font-size: 29px;
  margin: 0;
  color: #bbc5ba;
  #font-style: italic;
  letter-spacing: 1px;
  text-align: center;
}
h4 {
  margin: 15px 0;
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c8c8c8;
  #text-shadow: #000 1px 1px 1px;
}
h5 {
  margin: 5px 0 0 0;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  #text-transform: uppercase;
  color: #f7e9b4;
  #text-shadow: #000 1px 1px 1px;
}
h2 {
font-weight: normal;
margin: 15px 0;
font-size: 16px;
text-align: left;
letter-spacing: 0.5px;
color: #ececec;
text-shadow: #000 0px 0px 0px;
line-height: 24px;
}
h1{

}
@media all and (max-width: 700px) and (min-width: 0px){
h1{
margin-top: 70px;
}
h5 {
  font-size: 12px;
}
h8 {
  margin: 15px 0;
  font-size: 14px;
  #text-align: center;
  letter-spacing: 1px;
  color: #ffc30f;
  font-weight: 700;
  text-transform: uppercase;
  #text-shadow: #000 1px 1px 1px;
}
h2 {
font-size: 14px;
line-height: 20px;
}
h2 small{
font-size: 16px;
line-height: 20px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 15px;
}
}

h3 a {
  color: #c2a77a;
}

.post-info {
  padding-top: 35px;
}

@font-face{
font-family: 'Montserrat-Regular';
src: url('../fonts/Montserrat-Regular.ttf');
font-style: normal; 
font-weight: normal; 
font-display: swap;
}
@font-face{
font-family: 'Montserrat-Bold';
src: url('../fonts/Montserrat-Bold.ttf');
font-style: normal; 
font-weight: normal; 
font-display: swap;
}
@font-face{
font-family: 'Montserrat-Medium';
src: url('../fonts/Montserrat-Medium.ttf');
font-style: normal; 
font-weight: normal; 
font-display: swap;
}
@font-face{
font-family: 'Montserrat-SemiBold';
src: url('../fonts/Montserrat-SemiBold.ttf');
font-style: normal; 
font-weight: normal; 
font-display: swap;
}
@font-face{
font-family: 'Montserrat-Light';
src: url('../fonts/Montserrat-Light.ttf');
font-style: normal; 
font-weight: normal; 
font-display: swap;
}
