
	.modalDialog {
		overflow: auto;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		display: none;
		pointer-events: none;
		text-align: center;
	}
 
	.modalDialog:target {
		display: block;
		pointer-events: auto;
	}
 
	.modalDialog > div {
		display: flex;
		width: 90%;
		position: relative;
		margin: 10% auto;
		padding: 3px 3px 3px 3px;
		border-radius: 10px;
		color: #000;
		font-size: 10px;
		#text-shadow: #000 1px 1px 1px;
		background: #fff;
		background: repeating-linear-gradient(50deg, #1e2529, #1e2529 10px, #5B8090 10px, #5B8090 90px);
#background: linear-gradient(45deg, #EECFBA, #C5DDE8);
	}
 
	.close {

margin: 0 0 50px 0;
font-size: 14px;
#text-shadow: 1px -1px 2px #fff;
		opacity: .9;
		background: #f90000;
		color: #FFFFFF;
		line-height: 45px;
		position: absolute;
		right: -1px;
		text-align: center;
		top: -30px;
		width: 54px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}
 
	.close:hover { background: #146788; }
	@media all and (max-width: 700px) and (min-width: 0px){


}
