.headerstyle {
-webkit-justify-content: center;
-ms-flex-pack: justify;
justify-content: space-evenly;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: center;
#background: #1a1a1af0;
#position: fixed;
z-index: 130;
right: 0;
left: 0;
}
.tabstyle {
position: relative;
overflow: visible;
#margin: 5px;
#width: 45%;
#background: #1111119e;
font-family: inherit;
font-size: 1em;
text-align: center;
cursor: pointer;
}

.diwell {
background: #0d1d2f; /* Цвет фона */
}
.tabl {
justify-content: center;
flex-wrap: wrap;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
align-items: center;
}
.tab {
position: relative;
overflow: hidden;
width: 40%;
font-family: inherit;
font-size: 1em;
text-align: left;
cursor: pointer;
}

/* MEDIA QUERIES */
@media all and (max-width: 950px) and (min-width: 701px){
.tabstyle {
    display:block;
    width:47%;
  }
  .tab {
    display:block;
    width:47%;
  }
}
@media all and (max-width: 700px) and (min-width: 0px){
	.tab {
    display: block;
    width:100%;
	text-align: center;
  }
.tabstyle {
    display: block;
    width:100%;
	text-align: center;
  }
  .headerstyle {
position: absolute;
}
}