@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,400italic,700italic&amp;subset=latin,cyrillic);
#* {box-sizing: border-box;}
body {margin: 0;}
.post {
  width: 60%;
  margin: 30px auto 0;
}
img {
  #width: 100%;
  max-width: 100%;
  height: auto;
}
.post-container {
  width: 100%;
  padding: 30px;
}
h6 {
font-size:10px;
font-weight:700;
font-family:Arial,sans-serif;
color:#666;
text-align:right;
text-transform:uppercase;
text-shadow:1px -1px 2px #fff;
}
h4 {
  margin: 15px 0;
  font-family: 'LIBRARY3AMsoft', serif;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #2f6792;
  text-shadow: #0003 1px 1px 1px;
}
h2 {
  margin: 15px 0;
  font-family: 'Neighbor', serif;
  font-size: 23px;
  text-align: center;
  letter-spacing: 1px;
  color: #974896;
}
h3 {
  font-size: 15px;
  margin: 0;
  color: #ea3a03;
  font-family: 'FavoritTrafC', serif;
  #font-style: italic;
  letter-spacing: 1.4px;
  #text-align: center;
}
h3 a {
  color: #c2a77a;
}

.post-info {
  padding-top: 35px;
}

@font-face{
font-family: 'Gill Sans Extra Condensed RUS B Bold';
src: url('../fonts/Gill%20Sans%20Extra%20Condensed%20RUS%20B%20Bold.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'OPTIJake AntiqueBlack';
src: url('../fonts/OPTIJake%20AntiqueBlack.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'LehmannC';
src: url('../fonts/LehmannC.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Geometos';
src: url('../fonts/Geometos.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Aetherius';
src: url('../fonts/Aetherius.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Mga';
src: url('../fonts/Mga.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Neighbor';
src: url('../fonts/Neighbor.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Ethnocentric';
src: url('../fonts/Ethnocentric.html');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'TypeHelvetica';
src: url('../fonts/TypeHelvetica.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Kremlin Alexander';
src: url('../fonts/Kremlin%20Alexander.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Electrolize';
src: url('../fonts/Electrolize.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'DEAD SECRETARY Cyr';
src: url('../fonts/DEAD%20SECRETARY%20Cyr.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Simpleness';
src: url('../fonts/Simpleness.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Superheterodyne Regular';
src: url('../fonts/Superheterodyne%20Regular.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'LIBRARY3AMsoft';
src: url('../fonts/LIBRARY3AMsoft.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Newfont2';
src: url('../fonts/Newfont2.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Thunderbird Becker XCND Cyrilli';
src: url('../fonts/Thunderbird%20Becker%20XCND%20Cyrilli.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Tzimizce';
src: url('../fonts/Tzimizce.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Dynamo';
src: url('../fonts/Dynamo.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'AnnaITC';
src: url('../fonts/AnnaITC.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Augustus';
src: url('../fonts/Augustus.otf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'FavoritTrafC';
src: url('../fonts/FavoritTrafC.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'BebasNeue Bold';
src: url('../fonts/BebasNeue%20Bold.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'BebasNeue Book';
src: url('../fonts/BebasNeue%20Book.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'BebasNeue Light';
src: url('../fonts/BebasNeue%20Light.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'BebasNeue Regular';
src: url('../fonts/BebasNeue%20Regular.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'BebasNeue Thin';
src: url('../fonts/BebasNeue%20Thin.ttf');
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: 'Montserrat-Regular';
src: url('../fonts/Montserrat-Regular.ttf');
font-style: normal; 
font-weight: normal; 
}